.create-user__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 6rem;
}

.create-user__container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.create-user__container .form-input {
  gap: 4px;
  display: flex;
  flex-direction: column;
  width: 260px;
}

.create-user__container button {
  margin-top: 2rem;
}

.create-user__container a {
  padding: 1rem;
}
